---
interface Props {
    created: string

}
const {   created } = Astro.props;
import Technology from '../../components/technology/Technology.astro';
---

<footer class="my-6 pt-12 flex flex-col justify-center items-center">
    <span class="italic text-sm mt-2">{ created }</span>
    <span class="cursor-pointer m-5 flex gap-10 items-center">
        <a href="https://github.com/NicoAlvarado10">
            <Technology imageLink='/github.svg' alt='icono de Github' title='Github' />
        </a>

        <a href="mailto:alvaradonicolas317@gmail.com" target="_blank" title="E-mail" rel="noopener noreferrer">
            <Technology imageLink='/gmail.svg' alt='icono de Email' title="Email" />
        </a>

    </span>
</footer>