---
import Technology from '../../components/technology/Technology.astro';

interface Props {
    title: string
}

const { title } = Astro.props;
---

<section class="w-full max-w-5xl mt-8">
    <h2 class="text-2xl font-black drop-shadow-md">{ title }</h2>
    <div class="mt-5 pb-6 flex flex-wrap gap-8 justify-between md:justify-normal">
        <Technology imageLink='/public/html.svg' alt='HTML' title='HTML' />
        <Technology imageLink='/public/css.svg' alt='CSS' title='CSS' />
        <Technology imageLink='/public/javascript.svg' alt='JavaScript' title='JavaScript' />
        <Technology imageLink='/public/react.svg' alt='ReactJS' title='ReactJS' />
        <Technology imageLink='/public/typescript.svg' alt='TypeScript' title='TypeScript' />
        <Technology imageLink='/public/tailwind.svg' alt='Taildwind' title='Tailwind' />
        <Technology imageLink='/public/git.svg' alt='git' title='Git' />
        <Technology imageLink='/public/github.svg' alt='Github' title='Github' />
        <Technology imageLink='/public/astro.svg' alt='Astro' title='Astro' />
    </div>
</section>